<div class="login-wrapper">
  <!-- Lado izquierdo -->
  <div class="login-left">
    <img src="https://sistropa.gustavomasiasdev.com/vistas/assets/login/img/s1.svg" alt="Illustration" />
  </div>

  <!-- Lado derecho -->
  <div class="login-right">
    <div class="login-box">
      <img src="https://icon-library.com/images/user-image-icon/user-image-icon-29.jpg" alt="User" class="user-icon" />
      <h2>BIENVENIDO</h2>

      <form (ngSubmit)="login()">
        <!-- Usuario -->
        <div class="input-group">
          <i class="fa fa-user"></i>
          <input
            type="text"
            name="username"
            [(ngModel)]="username"
            placeholder="Usuario"
            required
          />
        </div>

        <!-- Contraseña -->
        <div class="input-group">
          <i class="fa fa-lock"></i>
          <input
            [type]="showPassword ? 'text' : 'password'"
            name="password"
            [(ngModel)]="password"
            placeholder="Clave"
            required
          />
          <i
            class="fa"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePasswordVisibility()"
          ></i>
        </div>

        <button type="submit" class="login-btn">INICIAR SESIÓN</button>
      </form>
    </div>
  </div>
</div>
