<div class="login-container">
  <div class="background"></div>

  <div class="login-card">
    <img
      src="https://cdn-icons-png.flaticon.com/512/666/666201.png"
      alt="User"
      class="user-icon"
    />
    <h2>BIENVENIDO</h2>

  <!-- Mensaje de error (si existe) -->
<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

    <form (ngSubmit)="login()">
      <!-- Usuario -->
      <div class="input-group">
        <i class="fa fa-user"></i>
        <input
          type="text"
          name="username"
          [(ngModel)]="username"
          placeholder="Usuario"
          required
        />
      </div>

      <!-- Clave -->
      <div class="input-group">
        <i class="fa fa-lock"></i>
        <input
          [type]="showPassword ? 'text' : 'password'"
          name="password"
          [(ngModel)]="password"
          placeholder="Clave"
          required
        />
        <i
          class="fa"
          [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
          (click)="togglePasswordVisibility()"
        ></i>
      </div>

      <button type="submit" class="login-btn">INICIAR SESIÓN</button>
    </form>
  </div>
</div>