.contenedor {
  padding: 20px;
  background: #f9f9f9;
}

h3 {
  background: #0097a7;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.barra-superior {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  align-items: center;
}

.barra-superior input {
  padding: 5px;
  flex-grow: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

thead {
  background-color: #0097a7;
  color: white;
}

td, th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.btn-ver,
.btn-print {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.paginacion {
  margin-top: 15px;
}

.paginacion button {
  margin: 0 2px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #e0f7fa;
  cursor: pointer;
}

.paginacion .activo {
  background: #0097a7;
  color: white;
}

.reporte {
  margin-top: 30px;
  padding: 15px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.btn-reporte {
  background-color: #2196f3;
  color: white;
  padding: 8px 16px;
  border: none;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-exportar {
  background: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
