<!-- src/app/components/persona/persona.component.html -->
<h4 *ngIf="!esEdicion">Registrar Persona</h4>
<h4 *ngIf="esEdicion">Editar Persona</h4>
<hr>
<div class="form-group mb-2">
  <label>Tipo Persona <span class="text-danger">*</span></label>
  <select class="form-control" [(ngModel)]="persona.tipoPersona">
    <option>Cliente</option>
    <option>Proveedor</option>
  </select>
</div>
<div class="form-group mb-2">
  <label>Tipo Doc <span class="text-danger">*</span></label>
  <select class="form-control" [(ngModel)]="persona.tipoDocumento">
    <option>NDI</option>
    <option>RUC</option>
  </select>
</div>
<div class="form-group mb-2">
  <label>Documento <span class="text-danger">*</span></label>
  <input type="text" class="form-control" [(ngModel)]="persona.numeroDocumento" placeholder="Documento" />
</div>
<div class="form-group mb-2">
  <label>Nombres</label>
  <input type="text" class="form-control" [(ngModel)]="persona.nombre" placeholder="Nombres" />
</div>
<div class="form-group mb-2">
  <label>Dirección</label>
  <input type="text" class="form-control" [(ngModel)]="persona.direccion" placeholder="Dirección" />
</div>
<div class="form-group mb-2">
  <label>Celular / Teléfono</label>
  <input type="text" class="form-control" [(ngModel)]="persona.telefono" placeholder="Celular / Teléfono" />
</div>
<div class="form-group mb-2">
  <label>Correo</label>
  <input type="email" class="form-control" [(ngModel)]="persona.correo" placeholder="Correo" />
</div>
<div class="text-end mt-3">
  <button class="btn btn-secondary me-2" (click)="cancelar()">Cerrar</button>
  <button class="btn btn-primary" (click)="guardar()">
    {{ esEdicion ? 'Actualizar' : 'Registrar' }}
  </button>
</div>
